@model Web.Models.ProductsResponse.ObjectResult
@{
    ViewBag.Title = "Crud";
}

<h2>Crud</h2>
@using (Html.BeginForm("Crud", "Products", FormMethod.Post, new { enctype = "multipart/form" }))
{
    <div class="container-fluid">
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description)
            </div>
            <div class="row">
                @Html.LabelFor(model => model.IdCategory)
                @Html.TextBoxFor(model => model.IdCategory)
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Unit)
                @Html.TextBoxFor(model => model.Unit)
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Cost)
                @Html.TextBoxFor(model => model.Cost)
            </div>
            <div class="row">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>
}

